.logo {
    position: absolute;
    background-image: url('../images/logo.png');
    width: 300px;
    height: 300px;
    z-index: 99;
/* top: 0; */
/* left: -10px; */
/* float: left; */
/*margin: 0 auto;*/
/*margin-bottom: 30px;*/
}

#nav {
    margin-top: 100px;
}

.me_photo {
    background-image: url('../images/me.png');
    width: 305px;
    height: 400px;
}

.byline {
    left: 0;
    top: 12%;
    font-size: 1em;
    letter-spacing: -0.015em;
    margin-top: 0;
    width: 65%;
    padding-left: 22px;
    font-weight: 800;
    background-color: #ffdd55;
}

#presentation {
    /* width: 63%; */
    width: 70%;
    background: url('images/box.png') no-repeat;
    /* width: 515px; */
    height: 400px;
    margin-top: 10px;
    /* margin-left: 30px; */
    padding-left: 160px;
    /* padding: 40px; */
    padding-top: 40px;
    padding-right: 95px;
    /* left: -100px; */
    /* position: absolute; */
    line-height: 1em;
}

#presentation p {
    /* margin: 15px 45px; */
    margin-bottom: 30px;
}

.highlight {
    text-decoration: underline;    
}

.justify {
    text-align: justify;
    hyphens: auto;
}

.text {
    margin: 2em 0 0 0;
    border: 0;
    vertical-align: baseline;
}

.text > h5, p {
    margin: 10px;
    border: 0;
}

.specifique {
    font-weight: 400;
    /*background-color: #f47216;*/
    /*padding: 0 5px;*/
    color: #f47216;
}

.text2 {
    margin: 0 0 1.5em 0;
    width: 100%;
    height: 100%;
    
}

.lien {
    text-decoration: none;
    color: #777; 
}

.line > p {
    line-height: 1.5;
}

#me .text {
    /* position: absolute; */
    /* left: 0; */
    /* top:18%; */
    margin-left: 2%;
    /*font-size: 88%;*/
    margin-top: 50px;
}

#bouton {
    line-height: 50px;
    width: 120px;
    border: 2px solid #777;
    background-color: #ffdd55;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0px 1px 0px white;
/*    padding:  */
}

.reference {
    font-size: 70%;
}

.liste ul, .liste ol, .liste li {
    list-style: disc;
}

.pillier {
    border: 0;
    background: white;
    /*margin: 0 auto 0 0;*/
    width: 880px;
    margin-top: 0;
    width: 100%;
}

.title-block {
    /*width: 235px;*/
    /*padding: 10px 60px 0 5px;*/
    margin-top: 12px;
    float: left;
    margin-right: 60px;
}

.content {
    padding: 15px 20px 15px 0;
    font-size: 17px;
    width: 605px;
    color: #777;
    line-height: 1.2em;
    column-width: 250px;
    -moz-column-width: 250px;
    -webkit-column-width: 250px;
}

.content p {
    height: 450px;
}

td {
    display: table-cell;
    vertical-align: top;
    width: 280px;
}

.title {
    font-size: 18px;
    text-transform: uppercase;
    color: #006900;
    font-weight: bold;
    margin-bottom: 0;
}

.subtitle {
    font-size: 16px;
    font-variant: small-caps;
    color: #777;
    padding-left: 25px;
    font-weight: bold;
    line-height: 0;
}

.pillier > p {
    line-height: 1.3;
    font-size: 17px;
}

.space {
    width: 100%;
    height: 60px;
}

.formule {
    float: left;
    margin: 0 8.3px;
}

.picture {
    width: 150px;
    height: 180px;
    margin: 0;
    
}

.clear {
    clear: both;
    height: 40px;
}

.detail {
    width: 250px;
    font-size: 17px;
    line-height: 1.2em;
    margin: 1;
}

.smallpictures {
    width: 250px;
    height: 179px;
    border-radius: 25px;
    word-spacing: 3px;
}

.smallcaps {
    font-size: 17px;
    color: #006900;
    font-weight: bold;
    height: 50px;
    margin-bottom: 0;
    word-spacing: 3px;
    text-align: center;
    margin-top: 10px;fpr
}

.description {
    height: 220px;
    margin-top: 10px;
}

.text_style {
    font-size: 17px;
}

#main a:hover {
    text-decoration: underline;
}

.icon-leaf > a {
    padding-left: 40px;
}

.icon-leaf {
    background-color: #ffdd55;
}

h2 {
    text-align: center;
}

/*.background {
  background-color: #ffdd55;
  }*/


